/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$account_name = 'account';
$account_x = 430px;
$account_y = 4px;
$account_offset_x = -430px;
$account_offset_y = -4px;
$account_width = 18px;
$account_height = 21px;
$account_total_width = 1307px;
$account_total_height = 75px;
$account_image = '../images/sprites/sprite.png';
$account = 430px 4px -430px -4px 18px 21px 1307px 75px '../images/sprites/sprite.png' 'account';
$arrow_down_name = 'arrow-down';
$arrow_down_x = 532px;
$arrow_down_y = 4px;
$arrow_down_offset_x = -532px;
$arrow_down_offset_y = -4px;
$arrow_down_width = 14px;
$arrow_down_height = 6px;
$arrow_down_total_width = 1307px;
$arrow_down_total_height = 75px;
$arrow_down_image = '../images/sprites/sprite.png';
$arrow_down = 532px 4px -532px -4px 14px 6px 1307px 75px '../images/sprites/sprite.png' 'arrow-down';
$arrow_right_big_name = 'arrow-right-big';
$arrow_right_big_x = 465px;
$arrow_right_big_y = 4px;
$arrow_right_big_offset_x = -465px;
$arrow_right_big_offset_y = -4px;
$arrow_right_big_width = 15px;
$arrow_right_big_height = 21px;
$arrow_right_big_total_width = 1307px;
$arrow_right_big_total_height = 75px;
$arrow_right_big_image = '../images/sprites/sprite.png';
$arrow_right_big = 465px 4px -465px -4px 15px 21px 1307px 75px '../images/sprites/sprite.png' 'arrow-right-big';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 524px;
$arrow_right_y = 4px;
$arrow_right_offset_x = -524px;
$arrow_right_offset_y = -4px;
$arrow_right_width = 8px;
$arrow_right_height = 12px;
$arrow_right_total_width = 1307px;
$arrow_right_total_height = 75px;
$arrow_right_image = '../images/sprites/sprite.png';
$arrow_right = 524px 4px -524px -4px 8px 12px 1307px 75px '../images/sprites/sprite.png' 'arrow-right';
$cart_name = 'cart';
$cart_x = 277px;
$cart_y = 4px;
$cart_offset_x = -277px;
$cart_offset_y = -4px;
$cart_width = 38px;
$cart_height = 36px;
$cart_total_width = 1307px;
$cart_total_height = 75px;
$cart_image = '../images/sprites/sprite.png';
$cart = 277px 4px -277px -4px 38px 36px 1307px 75px '../images/sprites/sprite.png' 'cart';
$city_name = 'city';
$city_x = 448px;
$city_y = 4px;
$city_offset_x = -448px;
$city_offset_y = -4px;
$city_width = 17px;
$city_height = 21px;
$city_total_width = 1307px;
$city_total_height = 75px;
$city_image = '../images/sprites/sprite.png';
$city = 448px 4px -448px -4px 17px 21px 1307px 75px '../images/sprites/sprite.png' 'city';
$facebook_name = 'facebook';
$facebook_x = 373px;
$facebook_y = 4px;
$facebook_offset_x = -373px;
$facebook_offset_y = -4px;
$facebook_width = 29px;
$facebook_height = 28px;
$facebook_total_width = 1307px;
$facebook_total_height = 75px;
$facebook_image = '../images/sprites/sprite.png';
$facebook = 373px 4px -373px -4px 29px 28px 1307px 75px '../images/sprites/sprite.png' 'facebook';
$insta_name = 'insta';
$insta_x = 315px;
$insta_y = 4px;
$insta_offset_x = -315px;
$insta_offset_y = -4px;
$insta_width = 29px;
$insta_height = 28px;
$insta_total_width = 1307px;
$insta_total_height = 75px;
$insta_image = '../images/sprites/sprite.png';
$insta = 315px 4px -315px -4px 29px 28px 1307px 75px '../images/sprites/sprite.png' 'insta';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 277px;
$logo_height = 75px;
$logo_total_width = 1307px;
$logo_total_height = 75px;
$logo_image = '../images/sprites/sprite.png';
$logo = 0px 0px 0px 0px 277px 75px 1307px 75px '../images/sprites/sprite.png' 'logo';
$main_name = 'main';
$main_x = 277px;
$main_y = 0px;
$main_offset_x = -277px;
$main_offset_y = 0px;
$main_width = 1030px;
$main_height = 4px;
$main_total_width = 1307px;
$main_total_height = 75px;
$main_image = '../images/sprites/sprite.png';
$main = 277px 0px -277px 0px 1030px 4px 1307px 75px '../images/sprites/sprite.png' 'main';
$search_name = 'search';
$search_x = 480px;
$search_y = 4px;
$search_offset_x = -480px;
$search_offset_y = -4px;
$search_width = 16px;
$search_height = 17px;
$search_total_width = 1307px;
$search_total_height = 75px;
$search_image = '../images/sprites/sprite.png';
$search = 480px 4px -480px -4px 16px 17px 1307px 75px '../images/sprites/sprite.png' 'search';
$toggle_false_name = 'toggle-false';
$toggle_false_x = 496px;
$toggle_false_y = 4px;
$toggle_false_offset_x = -496px;
$toggle_false_offset_y = -4px;
$toggle_false_width = 14px;
$toggle_false_height = 14px;
$toggle_false_total_width = 1307px;
$toggle_false_total_height = 75px;
$toggle_false_image = '../images/sprites/sprite.png';
$toggle_false = 496px 4px -496px -4px 14px 14px 1307px 75px '../images/sprites/sprite.png' 'toggle-false';
$toggle_true_name = 'toggle-true';
$toggle_true_x = 510px;
$toggle_true_y = 4px;
$toggle_true_offset_x = -510px;
$toggle_true_offset_y = -4px;
$toggle_true_width = 14px;
$toggle_true_height = 14px;
$toggle_true_total_width = 1307px;
$toggle_true_total_height = 75px;
$toggle_true_image = '../images/sprites/sprite.png';
$toggle_true = 510px 4px -510px -4px 14px 14px 1307px 75px '../images/sprites/sprite.png' 'toggle-true';
$vkontakte_name = 'vkontakte';
$vkontakte_x = 344px;
$vkontakte_y = 4px;
$vkontakte_offset_x = -344px;
$vkontakte_offset_y = -4px;
$vkontakte_width = 29px;
$vkontakte_height = 28px;
$vkontakte_total_width = 1307px;
$vkontakte_total_height = 75px;
$vkontakte_image = '../images/sprites/sprite.png';
$vkontakte = 344px 4px -344px -4px 29px 28px 1307px 75px '../images/sprites/sprite.png' 'vkontakte';
$youtube_name = 'youtube';
$youtube_x = 402px;
$youtube_y = 4px;
$youtube_offset_x = -402px;
$youtube_offset_y = -4px;
$youtube_width = 28px;
$youtube_height = 27px;
$youtube_total_width = 1307px;
$youtube_total_height = 75px;
$youtube_image = '../images/sprites/sprite.png';
$youtube = 402px 4px -402px -4px 28px 27px 1307px 75px '../images/sprites/sprite.png' 'youtube';
$spritesheet_width = 1307px;
$spritesheet_height = 75px;
$spritesheet_image = '../images/sprites/sprite.png';
$spritesheet_sprites = $account $arrow_down $arrow_right_big $arrow_right $cart $city $facebook $insta $logo $main $search $toggle_false $toggle_true $vkontakte $youtube;
$spritesheet = 1307px 75px '../images/sprites/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
